node_modules/
__pycache__/
*.pyc
.env
venv/
uploads/*
!uploads/.gitkeep
dist/
# Application secrets & certificates
*.pem
*.key
.env
backend/.env

# Node backend/frontend dependencies
node_modules/
package-lock.json

# Logs and databases
*.log
*.db
*.sqlite

# User Uploads
backend/uploads/*
!backend/uploads/.gitkeep
